<div id="edit-song">
  <label>Title</label>
  {{input value=title}}

  <label>Key</label>
  {{input value=key}}

  <label>Raw Text</label>
  {{textarea value=rawData}}
  <button {{action "save"}}>Save</button>
</div>
