<h2>Set List: {{title}}</h2>

<h3>Songs</h3>
{{#each song in songs}}
  {{render "song.index" song}}
{{/each}}

<h3>Add songs</h3>

{{  view Ember.Select
    content=songsController
    value=selectedNewSong
    optionValuePath="content.id"
    optionLabelPath="content.title" }}

<button {{action 'addSong'}}>Add</button>
