<h2>Set List: {{title}}</h2>

<h3>Songs</h3>
{{#each song in controller.songs}}
  {{render "song.index" song}}
{{/each}}

<h3>Add songs</h3>
{{  view Ember.Select
    content=allSongs
    optionValuePath="content.id"
    optionLabelPath="content.title" }}
