{{outlet}}
<button class="action-transpose">Transpose</button>
<button {{action "edit"}}>Edit</button>
<button {{action "delete"}}>Delete</button>

{{#if unbelongingSets}}
<ul class="song-set list-inline">
  Also appears in the following sets:
  {{#each setList in unbelongingSets}}
    <li>
    {{#link-to 'set_list.index' setList}}
      {{setList.title}}
    {{/link-to}}
    </li>
  {{/each}}
  </small>
</ul>
{{/if}}
